@inherits LayoutComponentBase
@using Radzen.Blazor
@inject NavigationManager Nav

    
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Home" @onclick="@(args => tabChange("/",0))" />
                <RadzenTabsItem Text="Employee Management" @onclick="@(args => tabChange("/employee-management",1))" />
                <RadzenTabsItem Text="Billet Management" @onclick="@(args => tabChange("/billet-management",2))" />
                <!-- Additional tabs for other pages -->
                <RadzenTabsItem Text="Audit Trail" @onclick="@(args => tabChange("/audit-trail",3))" />
            </Tabs>
        </RadzenTabs>



        <div class="content px-4">
            @Body
        </div>
    



@code {
    int currentIndex;

    public void tabChange(string url, int index)
    {
        currentIndex = index;
        StateHasChanged();
        Nav.NavigateTo(url);
    }
}